<footer class="footer">
    <div class="row">

        <div class="col-md-6" style="background-color: rgb(0,107,83)">
            <div class="row p-5">
                <div class="col-md-6">
                    <p class="footer-text"> Logo Hermoso</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-text">
                        <li> Enlaces</li>
                        <li> de</li>
                        <li> inte</li>
                        <li> res</li>
                        <li> cool</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-0">
            <div class="container-fluid py-4" style="background-color: rgb(0,164,109)">
                <p class="footer-text"> Dirección <i class="material-icons">location_on</i> </p>
                <p class="footer-text"> Rio Hondo #1. </p>
                <p class="m-0 footer-text "> Progreso Tizapán </p>
            </div>
            <div class="container-fluid m-0 py-4" style="background-color: rgb(0,90,69) ">
                <p class="footer-text"> Contacto </p>
                <p class="m-0 footer-text"> Nuestras redes sociales, email
                    teléfono del ITAM, shalalal, yes
                </p>
                <p class="m-0 footer-text">
                    pa llenar más espacio
                </p>
                <p class="m-0 footer-text">
                    Y pal deploying
                </p>
            </div>
        </div>

    </div>
</footer>