<footer class="footer">
    <div class="row">

        <div class="col-md-6 bg-green1" >
            <div class="row p-5">
                <div class="col-md-6">
                    <img class="image-fluid" src="static/logo-itam-blanco.png" style="width: 8vw">
                </div>
                <div class="col-md-6">
                    <ul class="footer-text">
                        <li> Enlaces</li>
                        <li> de</li>
                        <li> inte</li>
                        <li> res</li>
                        <li> cool</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-0">
            <div class="container-fluid py-4 px-5 bg-green2">
                <p class="footer-text"> Dirección <i class="material-icons">location_on</i> </p>
                <p class="m-0 footer-text"> Río Hondo #1 </p>
                <p class="m-0 footer-text "> Col. Progreso Tizapán </p>
                <p class="m-0 footer-text "> CP. 01080. Álvaro Obregón, </p>
                <p class="m-0 footer-text "> CDMX </p>
            </div>
            <div class="container-fluid m-0 py-4 px-5 bg-green3" >
                <p class="footer-text"> Contacto <i class="material-icons">phone</i> </p>
                <p class="m-0 footer-text"> Teléfono: 58 28 4000 </p>
            </div>
        </div>

    </div>
</footer>