{% extends "templates/scaffold.html" %}

{% block mainContent %}

    <div class="jumbotron index-parallax_jumbo" style="min-height: 25vh; background: url({{ project.fontImg.url }})" >
        <h1 class="display-2"> {{ project.tituloP }}</h1>
        <h3> Por {{ project.autorP }}</h3>
    </div>


    <div class="container-fluid p-5">

        <div class="container-fluid px-2 mt-3">
            <p>  {{ project.contentP|safe }}</p>
        </div>


        <button class="btn btn-primary my-5" onclick="goBack()"> \( \leftarrow \) Regresar</button>
    </div>

    <script>
    function goBack() {
    window.history.back();
    }
    </script>

{%  endblock %}