<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MakerLab ITAM</title>

    {% load static %}

    <!-- Bootstrap CSS, CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Customized stylesheet -->
    <link rel="stylesheet" href="{% static "custom-styles.css" %}">

    <!-- Fonts + material icons, from google  -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- MathJax -->
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>


</head>
<body>

<!-- Main jumbotron  -->
<div id="main-jumbo" class="jumbotron-fluid align-all embed-responsive">

    <!--
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/iDn1nosgQ5k?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1&amp;mute=1"  allow="autoplay; encrypted-media"  ></iframe>
    -->

    <video muted="muted" autoplay="autoplay" class="embed-responsive-item " loop="loop"  style="width: 100vw; height: auto;">
        <source src="{% static "homepage/videoCool.mp4" %}">
    </video>

    <h1 class="display-1" id="title-jumbo"> MakerLab </h1>

</div>

  <!-- Sticky sticky navbar -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
      <a class="navbar-brand" href="/"> MakerLab </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"> Home <i class="material-icons">home</i>  </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tutoriales"> Tutoriales <i class="material-icons ">lightbulb_outline</i> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog"> Blog <i class="material-icons">book</i> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/proyectos"> Proyectos <i class="material-icons">build</i> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/otros"> Cosas cool <i class="material-icons">memory</i> </a>
            </li>
        </ul>
  </nav>

<!-- First row: description -->
<div class="row description-rows">
    <div class="col-md-8 text-left" style="background-color: yellow">
        <H3 class="display-4"> Quienes Somos?</H3>
    </div>
    <div class="col-md-4 p-3 p-md-5 ">
        <p>
            Somos una organización estudiantil dentro del Instituto Tecnológico Autónomo de México (ITAM)
        </p>
        <p>
            Somos un espacio abierto para \( \ldots \) shalala shalala
        </p>
    </div>
</div>

<!-- Second row: Blogs -->
<div class="row description-rows">
    <div class="col-md-4 p-3 p-md-5">
        <p>
            Hacemos tutoriales muy cool
        </p>
        <p>
            Sabemos usar \( \TeX  \) y mathjax. Somos chidos
        </p>
    </div>
    <div class="col-md-8 text-right pl-md-5" style="background-color: royalblue">
        <H3 class="display-4 "> Blogs</H3>
    </div>
</div>

<!-- Third row: Equipment -->
<div class="row description-rows">
    <div class="col-md-8 p-3 p-md-5">
        <p>
            Hacemos tutoriales muy cool
        </p>
        <p>
            Presumimos nuestras maquinas
        </p>
    </div>
    <div class="col-md-4 text-right pl-md-5" style="background-color: green">
        <H3 class="display-4 "> Equipo </H3>
    </div>
</div>

<!-- Full black container -->
<div class="row p-3 p-md-5 text-center bg-dark">
    <div class="col-md text-light">
        Aqui se presume más
    </div>
    <div class="col-md text-light">
        makerlab
    </div>
</div>

<!-- cool looking gallery -->
<div class="container-fluid px-5 py-5">
    <div class="row">

        <div class="col-md-4">
            <div class="card md-4 box-shadow my-3">
                <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Cool cool cool  </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card md-4 box-shadow my-3">
                <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Más imágenes </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card md-4 box-shadow my-3">
                <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Imagenes estilo tumblr  </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card md-4 box-shadow my-3">
                <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Seguimos presumiendo   </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card md-4 box-shadow my-3">
                <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Ahora presumimos que sabemos MathJax  </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card md-4 box-shadow my-3">
                <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> \(
                        \begin{bmatrix}
                            a & b & \cdots & c \\
                            \vdots & \vdots & \ddots & \vdots \\
                            d & e & \cdots & f \\
                        \end{bmatrix}
                        \)  </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card md-4 box-shadow my-3">
                <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Fotos cool de nosotos trabajando</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card md-4 box-shadow my-3">
                <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text "> Echando el mame </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Footer -->
<footer class="footer">
    <div class="row">

        <div class="col-md-6" style="background-color: green">
            <div class="row p-5">
                <div class="col-md-6">
                    <p> Logo Hermoso</p>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li> Enlaces</li>
                        <li> de</li>
                        <li> inte</li>
                        <li> res</li>
                        <li> cool</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-0">
            <div class="container-fluid py-4" style="background-color: seagreen">
                <h4> Dirección <i class="material-icons">location_on</i> </h4>
                <p> Rio Hondo #1. </p>
                <p class="m-0"> Progreso Tizapán </p>
            </div>
            <div class="container-fluid m-0 py-4" style="background-color: greenyellow ">
                <h4> Contacto </h4>
                <p class="m-0"> Nuestras redes sociales, email
                    teléfono del ITAM, shalalal, yes
                </p>
                <p class="m-0">
                    pa llenar más espacio
                </p>
                <p class="m-0">
                    Y pal deploying
                </p>
            </div>
        </div>

    </div>
</footer>

</body>
</html>