{% extends "templates/scaffold.html" %}

{% block mainContent %}

    <div class="jumbotron index-parallax_jumbo" >
        <h1 class="display-2"> Bienvenido a Tutoriales </h1>
    </div>

    <div class="container-fluid p-5 mb-5">

    <!-- Display for featured posts -->
        <h2> Tutoriales destacados </h2>
        <div class="row">
            <div class="col-md">
                <div class="card md-4 box-shadow my-3">
                    <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                    <div class="card-body">
                        <h4> Ensamblando una ANET A8 </h4>
                        <p class="card-text"> Troubleshooting </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card md-4 box-shadow my-3">
                    <img class="card-img-top" src="https://picsum.photos/5092/3395?image=1062" alt="Card image cap">
                    <div class="card-body">
                        <h4> Modificando CNC </h4>
                        <p class="card-text"> maquina cool </p>
                    </div>
                </div>
            </div>

        </div>



        <h3 class="display-4 m-4"> Tutoriales Recientes</h3>

        <ul class="list-group list-group-flush pb-3">
            {% for blog in blogs_list %}
                <li class="list-group-item blog-list-item">  <a href="/blog/{{ blog.id }}"> {{ blog }} </a> </li>
            {% endfor %}
        </ul>


    </div>

{%  endblock %}